[defaults]
# This is the default configuration for Imagesampler
# pos refers to true positive labels
# neg refers to false positive labels
#     (plume-like structures labeled as negative examples)
# bg refers to background tiles

img_match: *     # img_match + img_suffix regex to filter image filenames 
lab_match: *     # lab_match + lab_suffix regex to filter label image filenames
img_suffix: .tif # image filename suffix (trailing chars + extension)
lab_suffix: .png # label image filename suffix (trailing chars + extension)

# rgb_suffix+rgb_match undefined unless rgb_required=True
rgb_required: False
rgb_suffix: 
rgb_match: 

img_path: None
lab_path: None
rgb_path: None

tile_dim: [256,256]   # tile pixel dimensions
nlab_tiles: 25        # max labeled (pos+neg) tiles / image
nbg_tiles: 100        # max background tiles / image
max_overlap_lab: 0.1  # max tile overlap between tiles with same label
max_overlap_bg: 0.0   # max tile overlap between bg tiles 

# use ROI centroid rather than sampling entire ROI for each positive sample
pos_centroids: False
# use ROI centroid rather than sampling entire ROI for each negative sample
neg_centroids: False 

# ensure % positive samples fall within [min_pct_pos,max_pct_pos] range ppm m
# note: only applied when negative samples are provided, does not consider bg
min_percent_pos: 25
max_percent_pos: 75

mask_shp: None # shapefile to use to mask ocean or land pixels
mask_type: None # mask (remove) pixels that do NOT match mask_type

# transpose images wrt aspect ratio when rendering in figures
fig_tpose: False 
