[defaults]
# Example EMIT configuration for Imagesampler

image_class: CMFImage
tile_dim: [256,256]
pos_centroids: True # only sample 1 tile / positive candidate id centered on plume (lat,lon)
neg_centroids: False # sample coords within cmflab roi bounds / candidate
rgb_required: True

# default base paths
img_base: /example/methane
lab_base: /example/emit

# default image paths (override by section)
img_path: ${img_base}/cmfs
rgb_path: ${lab_base}/rgbs
out_path: ${lab_base}/tiles256

# default image file suffixes (override by section)
img_suffix: _ch4_mf_ort
lab_suffix: _ch4_mf_ort_mask.img
rgb_suffix: _proj.png

# the _match vars below assume base_path/datestamp/img_file.* structure
img_match: ./*/* # matches img_path/*/*img_suffix
lab_match: ./*/* # matches lab_path/*/*lab_suffix
rgb_match: ./*/* # matches rgb_path/*/*rgb_suffix

# v1 dataset

[v1_plumefree20250530_overlap_n300]
lab_suffix: _ch4_mf_ort_noplume_mask.tif
img_path: ${defaults:img_base}/methane_20230813
lab_path: ${defaults:lab_base}/methane_20230813_fidlab
rgb_path: ${lab_path}
out_path: ${lab_path}/tiles256
